.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: gray;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
}

.item1 {
    grid-column: 1 / 5;
}
.item3 {
    grid-column: 1/ span 4;
}

.item5 {
    grid-row: 3/ 5;
}