.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    justify-content: space-evenly;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: start; */
    /* justify-content: end; */

    height: 400px;
    align-content: center;
    /* align-content: space-around;
    align-content: space-between;
    align-content: space-evenly; */
}

.grid-container > div {
    background-color: gray;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
}